.section {
  border: 1px solid #6EC9AE;
}

img.circle-img {
    border: 0.5px solid #6EC9AE;
}

.section.titre {
	border: none;
}

img.logo {
	width: auto;
	height: 100%;
}

.img-wrapper {

}

nav {
	margin-bottom: 20px;
	background-color: #C6FDDE;
}

.section h2 {
	font-size:2.2rem;
	color: #6EC9AE;
}

.section h3 {
	font-size:1.4rem;
	color: #6EC9AE;
}

.section h4 {
	font-size: 1.4rem;
}

.section h5 {
	font-size: 1.4rem;
	color: #6EC9AE;
}

.section h6 {
	font-size: 1.2rem;
	color: #6EC9AE;
}

.row .col {
	padding: 0;
}

.left-img {
	text-align: right;
}

.apropos, .contact {
	text-align: center;
}

img.small-img {
	max-width: 30%;
}

img.img-menu {
	max-width: 100px;
    max-height: 40px;
	margin-top: 1em;
	margin-right: 8px;
}

.contenu {
	margin-left: 2.2em;
    margin-top: 0px;
}

hr.separation {
	margin-top: 3em;
	border-top: 1px dashed #8c8b8b;
}

hr.separation:after {
	content: '\002702'; 
	display: inline-block; 
	position: relative; 
	top: -12px; 
	left: 40px; 
	padding: 0 3px; 
	background: #f0f0f0; 
	color: #8c8b8b; 
	font-size: 18px; 
}

a.brand-logo {
	color: #6EC9AE;
}

nav ul a {
	color: #6EC9AE;
	display: flex;
}

h2 {
	color: #6EC9AE;
}

body {
	background-color: #F4F4F4;
}

.liste {
	white-space: nowrap;
}

hr {
	border-top: 1px solid #6EC9AE;
}

.row .col.l2 {
    margin-top: 9%;
}

.bouton {
	background-color: #6EC9AE;
	margin-left: 2.2em;
}

.pagination {
	text-align: center;
}

.pagination li.active {
    background-color: #6EC9AE;
}

.categorie {
	font-size: 3rem;
	text-align: center;
    color: #6EC9AE;
}

.article {
	margin-left: 1em;
	margin-right: 1em;
}

.commentaire {
	margin-bottom: 0.5em;
}

.comment{
	color: #6EC9AE;
}

.com {
	margin-top: 1em;
	margin-left: 0em;
}

.subtitle {
	font-style: italic;
	font-size: 80%;
	display: inline-block;
	margin-left: 1.78em;
    padding: 0 1em;
}

.material-icons{
	vertical-align: middle;
}

.partage {
	display: inline-block;
	font-size: 150%;
}

.titre-article{
	margin-bottom: 0px;
}

.subtitle-cat{
	margin-left: 2.5em;
	font-style: italic;
	font-size: 80%;
	display: inline-block;
}